.App {
  text-align: center;
}

.header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Article List */

.article-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  list-style: none;
}
.article {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
  border: 1px solid gray;
  border-radius: 8px;
}
.article-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.article-info {
  display: flex;
  align-items: center;
  gap: 4px;
}
.article-desc {
  text-align: left;
}
